

body {
	font-family: "Sansita", sans-serif;
}

span, header {
    display: block;
}

h1 {
	
	padding: 1rem;
	
	font-size: 2rem;
	text-align: center;
}

h2 {
	background-color: steelblue;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
    color:#fff
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 1000px;
}

header {background-color: steelblue;
	margin: 0 auto;
	max-width: 1000px;}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: overline;
}

.active {
	color: yellow;
}

	nav ul {
		display: flex;
	}

nav ul li {
	flex: 1 0 auto;
}

footer {background-color: steelblue;
	margin: 0 auto;
	max-width: 1000px;
    font-size: 1rem;
	text-align: center;
    }

/* Card y container */
.card {
	margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body{
    font-family: Arial;
    background:#f4f4f4;
    margin:40px;
}

.container{
    display:flex;
    gap:20px;
    max-width:1000px;
    margin:auto;
}
/* CARD STYLE */



.card-header{
    background:#2d5b7d;
    color:white;
    font-weight:bold;
    padding:12px;
    text-align:center;
    border-radius:10px 10px 0 0;
}

.card-body{
    padding:20px;
}

/* ABOUT SECTION */

.about-section{
    display:flex;
    justify-content:space-between;
}

.profile{
    width:120px;
    border-radius:4px;
}

/* LOCATION */

.location{
    text-align:center;
}

/* honduras SECTION */

.honduras{
    display:flex;
    gap:20px;
}

.flag img{
    width:120px;
    border:1px solid #ccc;
}

.flag p{
    text-align:center;
    font-size:12px;
}

/* RIGHT CARD */

.right ul{
    padding-left:10px;
}

.right li{
    margin:12px 0;
}

.right a{
    color:blue;
}